     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="/assets/js/apps/zps/jquery.js"></script>
    <script src="/assets/js/apps/zps/Leaflet.Control.Custom.js"></script>
    <script src="/assets/js/apps/zps/fullscreen.js"></script>
    <script src="/assets/js/apps/zps/url-polyfill.js"></script>
    <script src="/assets/js/apps/zps/polyfill.js"></script>
    <script src="/assets/js/apps/zps/ie11CustomProperties.js"></script>
    <script src="/assets/js/apps/zps/Control_002.js"></script>                  
    <script src="/assets/js/apps/zps/SlideMenu.js"></script>                  
    <script src="/assets/js/apps/zps/popuphelp.js"></script>
    <script src="/assets/js/apps/zps/zps.js"></script>
    <script src="/assets/js/apps/zps/datamap2.js"></script>
