<aside class="o-section o-section--bigger c-contact-bar u-inverted u-center-medium-down">
  <div class="o-section-inner">
    <div class="row">
      <div class="small-12 columns">
        <header class="c-contact-bar-header u-stacked-medium-down">
          <h3 class="c-contact-bar__heading"> <a href="{{ '/kontakt/' | relative_url }}">Kontakt</a> </h3>
        </header>
        <ul class="c-contact-bar-items u-stacked-medium-down">
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Předseda </div>
            <div class="c-contact-bar__description"> Viktor Mahrik,
              <a href="mailto:adam.zabransky@pirati.cz">viktor.mahrik@pirati.cz</a>
            </div>
          </li>
          <li class="c-contact-bar__item u-stacked-medium-down">
            <div class="c-contact-bar__section"> Místopředseda </div>
            <div class="c-contact-bar__description"> Ivan Hrůza,
              <a href="mailto:michal.jokes@pirati.cz">ivan.hruza@pirati.cz</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class='scrolltop'>
    <div class='scroll icon'><i class="fa fa-4x fa-angle-up"></i></div>
</div>
