 {% if include.wiki %}
                {{ include.wiki }}
            {% endif %}
<div class="row o-section">  
  {% if person.uid %}
    <div class="columns large-12">
      <header class="c-page-header">
        <h3 itemprop="headline" class="c-page-title">Moje články</h3>
      </header>
    </div>

    <div class="columns large-12">
      <div class="{% if include.contentClass %}{{ include.contentClass }}{% endif %}">
        <div itemprop="description" class="c-content-block c-emphasized-text">
          {{ person.uid }}
        </div>
      </div>
    </div>
  {% endif %}
</div>
