<section class="o-section o-section--spaceBot">
	<div class="o-section-inner o-section-inner--leftBlock">
		<header class="o-section-header">
			<h1 class="o-section__heading">Program Pirátů Prahy 6 pro komunální volby 2018</h1>
		</header>

		<div class="row">
			<div class="medium-4 columns u-sticky u-sticky--top">
				<div class="l-program__item-name">
					<i class="fa fa-universal-access"></i><br/><h2>Otevřená radnice</h2>
					<p>Základní principy otevřenosti jsou stanoveny zákonem 106 o svobodném přístupu k informacím. Tento stanovil legislativní rámec, díky němuž mají občané možnost vůbec o nějaké informace žádat. Věříme, že by informace měly být veřejnosti dostupné bez nutnosti se dotazovat.</p>
					<div class="l-program__item-garant">
						<hr/>
						<h4>Garant programového bodu:</h4>
						{% assign item = site.people | where:"uid","milos.vlach" | first %}
						{% include people/item.html param='item' %}
					</div>
				</div>
			</div>
			<div class="medium-8 columns">
				<h3 class="text-center">Nastavíme procesy, tak aby byly zveřejňovány i informace daleko nad rámec zákona:</h3>
				<ul class="accordion l-program__item-accordion" data-accordion>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Otevřený přístup k informacím</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Maximální množství informací (např. o dopravě, kriminalitě, životním prostředí) zveřejníme ve formě otevřených dat, aby byly dále využitelné např. pro tvorbu užitečných aplikací.</li>
								<li>Trvalé zveřejnění archivu úřední desky.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Účast na rozhodování</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Podpoříme zapojování občanů do rozhodování pomocí moderních technologií.</li>
								<li>Navýšíme složku participativní rozpočty a umožníme veřejnosti skutečně rozhodovat o podobě veřejného prostoru.</li>
								<li>Budeme iniciovat pravidelná formální i neformální setkání s odborníky a občany a pečlivě se zabývat  podněty, peticemi a návrhy. </li>
								<li>Podpoříme místní referenda u sporných otázek s výjimečnou důležitostí a dlouhodobými důsledky. </li>
								<li>Podpoříme komunikaci mezi sousedícími samosprávami a jejich obyvateli, aby se problémy neřešily izolovaně. </li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Veřejné zakázky (samospráva i jí vlastněné společnosti)</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Nastavíme a zveřejníme pravidla pro zadávání zakázek, která jasně vymezují osobní odpovědnost v zadávacím procesu.</li>
								<li>Veřejné zakázky nad 2 miliony Kč budeme zveřejňovat i ve Věstníku veřejných zakázek.</li>
								<li>Jsme proti využití možností zkrácených lhůt pro zadávací řízení.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Nakládání s majetkem</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Veřejný soupis nemovitého majetku samosprávy, včetně aktuálního využití a správních řízení, jimiž je dotčen.</li>
								<li>O případném prodeji majetku a způsobu prodeje budeme informovat s předstihem a nikoli pouhým “vyvěšením na úřední desku”, ale s maximálním využitím různých informačních kanálů.</li>
								<li>Zveřejňování smluv, včetně dodatků, ve strojově čitelné podobě, opatřené řadou metadat umožňujících jejich snadné třídění atd.</li>
								<li>Finanční výkazy o čerpání rozpočtu, přehledné strukturované do úrovně faktur (rozklikávací rozpočet) s informací o průběžném čerpání i odkazy na registr smluv.</li>
								<li>Chceme, aby samospráva přešla k využívání transparentních bankovních účtů a otevřeného účetnictví všude tam, kde to zákon dovoluje.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Městské obchodní společnosti a příspěvkové organizace</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Stejná pravidla pro zveřejňování jako pro obec se musejí vztahovat na obcí zřizované organizace, obecní příspěvkové organizace a obchodní organizace, které obec ovládá. </li>
								<li>Budeme trvat na tom, aby se řídily pravidly pro transparentní organizace.</li>
								<li>Omezení možnosti zakládat dceřiné či kupovat jiné společnosti. Tímto opatřením lze zamezit “řetězení” na dceřiné firmy, které jsou již mimo kontrolu zastupitelstva.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Granty a dotace</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Transparentní a veřejný dotační proces zabraňující různým “malým domů” s rovným přístupem ke všem potenciálním žadatelům o dotaci.</li>
								<li>Veřejné údaje o úspěšných i neúspěšných žadatelích o dotace, přičemž výsledky svých dotačních řízení zdůvodňují.</li>
								<li>Finanční dotace by v každém případě měly být poskytovány jen transparentním organizacím.</li>
								<li>Poskytování finančních dotací nepovažujeme za hlavní způsob veřejné podpory.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Rozpočet</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Schodkový rozpočet je možný jen výjimečně.</li>
								<li>Veřejné kompletní údaje o rozpočtech (aktuálních i minulých), ve vysokých datových standardech. Rozpočty obsahují důvodové zprávy či jsou komentované.</li>
								<li>Zveřejňují se závěrečné účty i zprávy o výsledcích přezkoumání hospodaření.</li>
								<li>Publikují se data o plnění rozpočtu, užívají tzv. klikacích rozpočtů a taktéž publikují přijatá rozpočtová opatření.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Transparentní rozhodovací procesy</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>O termínech zasedání rady, zastupitelstva, výborů, komisí i jejich programu budeme informovat nejen na vývěsce, ale i elektronicky. Na zasedání těchto orgánů by měl mít přístup každý občan.</li>
								<li>Budeme zveřejňovat audiovizuální záznamy i detailní zápisy. Vlastní záznamy umožníme i občanům. Zápisy dostupné na stránkách samosprávy budou obsahovat i údaje o hlasování jednotlivých zastupitelů a přehledu jejich účasti. Veškeré podklady jednání zveřejníme v dostatečném časovém předstihu. Body jednání budou dostatečně konkrétní, každý s odkazem na důvodovou zprávu, případovou studii nebo téma, kterým se zabývá (předchozí body zasedání, aktuální problémy apod.) </li>
								<li>Budeme prosazovat zastoupení odborné veřejnosti i klíčových místních organizací a spolků v komisích, které pomáhají připravovat návrhy pro zastupitelstvo nebo kontrolují činnost zastupitelstva a rady.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Mediální politika</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Přítomnost vnitřní regulace radničního periodika tak, aby byl garantován objektivní a názorově vyvážený obsah a zamezilo se jeho zneužívání pro jednostrannou a nekritickou propagaci politického vedení.</li>
								<li>Radniční periodika by měla splňovat základní principy obvyklé pro veřejná média. Tzn. uveřejnění alternativních názorů k názorům radnice ze strany opozičních zastupitelů i občanů.</li>
								<li>V tématických článcích musí být vyjádření dotčených osob, které jsou v článku kritizovány. </li>
								<li>Pro vydávání a tvorbu obsahu médií přijme samospráva vnitřní pravidla (Statut novin a etický kodex), která zaručují kontrolu tvorby obsahu pomocí redakční rady, zaručují přístup zastupitelů do médií včetně opozičních, stanovují konečnou odpovědnost za obsah médií a vylučují z rozhodování o obsahu exekutivou.</li>
							</ul>
						</div>
					</li>

					<li class="accordion-item" data-accordion-item>
						<!-- Accordion tab title -->
						<a href="#" class="accordion-title">Střet zájmů</a>
						<!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
						<div class="accordion-content" data-tab-content>
							<ul>
								<li>Přihlásíme se k Etickému kodexu zastupitele.</li>
								<li>Chceme jít ostatním příkladem, proto zveřejníme svá majetková přiznání před nástupem do úřadu a po při konci mandátu.</li>
								<li>Podporujeme interní mechanismy, které umožňují oznámit nekalost jinému subjektu než přímému nadřízenému, a to i anonymně. Podobné oznamovací “kanály” jsou dostupné i samotným občanům.</li>
							</ul>
						</div>
					</li>

					<!-- ... -->
				</ul>
			</div>
		</div>
	</div>
</section>
