/*#map{ height: 95% }*/
#zps_header {    

  margin: 0 0 0 0;
  background: #212121;
  color: #8a8a8a;
  font-weight: bold;
  height: 45px;

}

#zps_header  a {
  color: #8a8a8a;

}

#zps_header  a:hover {
  color: #fff;
}

#zps_header  img {
  height: 35px;
  margin: 5px ;
}

#zps_header  h4 {
  margin: 0px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
}
 
@media screen and (max-width: 800px) {
  #zps_header  h4 { 
  font-size: 1rem;
}
}

.zps_menu {
  float: left ;
}

 html, body, #map  {
        height: 100%;
        width: 100%;
    }



#mapout {    
    position: relative;
    
    height: calc(100% - 45px); 
    /*z-index: -1;*/
}

#map {
    position: relative;
    top: 0;
    bottom: 0;
    /*height: 100%;*/
    width:100%;
    margin:0;
    /*display: flex;*/
    /*z-index: -1;*/
}
.search-input {
  font-family:Courier
}
.search-input,
.leaflet-control-search {
}

#map_help {
    
    margin:20px 20px 20px 20px;    
}
#map_help img {
  float: right;
  padding: 10px;
}

#map_help   a {
  color: blue;
}

 
@media screen and (max-width: 800px) {
.check_layer {
  margin: 0;
}
}

  
.bluetext {
   color: blue;
}  




div#search {
/*  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: auto;
  height: auto;
  padding: 10px;
  z-index: 9999;*/
}
div#search input {
  width: 200px;
}
div#results {
  font-style: sans-serif;
  color: black;
  font-size: 75%;
}

.legend {
  background-color: white;
  line-height: 18px;
  text-align: center;
  color: #000;
  padding: 5px;
  border-radius: 5px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
.legend span, .legend label {
  display: block;
  width: 35px;
  height: 18px;
  float: left;
  opacity: 0.7;
  text-align: right;
  font-size: 80%
}

@media screen and (max-width: 800px) {
.legend span, .legend label {  
  width: 20px;
  height: 10px;
}
}

/*lf popup content pre*/
.leaflet-popup-content pre{
  padding-left: 10px;
  padding-top: 10px;
}
/*help button on lf popup*/
.leaflet-popup-content .popup-help-button{
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 25px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 14px/12px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}
.leaflet-popup-content .popup-info-button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px 45px 0 0;
    border: none;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 14px/12px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}
.leaflet-popup-content .popup-help-button:hover{
  color: #007921;
}
.leaflet-popup-content .popup-info-button:hover{
    color: #007921;
}

.info {
      padding: 6px 20px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      max-width: 400px; 
    }
.info h4 {
      margin: 0 0 5px;
      color: #777;
    }
.napoveda:hover {
      color: blue;
}
.info button {
       float: right;
      }
.rotatedLegend {
    transform: rotate(15deg);
  }
 
@media screen and (max-width: 800px) {
  .info h4 {
  font-size: 1rem;
}
}

#popupHelp, #popupInfo {
  display: none;
  position: absolute;
  top: 0%;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 16px;
  min-width: 250px;
  z-index: -1;
}
#popupHelpContent{
  max-height: 600px;
}
#popupHelpContent.y_scrollable{
  overflow-y: scroll;
}
#popupHelp.visibleR, #popupInfo.visibleR{
  display: block;
  animation: helpR 1s;
  animation-fill-mode: both;
}
#popupHelp.visibleL, #popupInfo.visibleL{
  display: block;
  animation: helpL 1s;
  animation-fill-mode: both;
}
@keyframes helpR {
  from {left: 0%; opacity:0;}
  to {left: 100%; opacity:1}
}
@keyframes helpL {
  from {right: 0%; opacity:0}
  to {right: 100%; opacity:1}
}
@keyframes helpB {
  from {top: 0%; opacity:0}
  to {top: 105%; opacity:1}
}
#popupHelp h1 ,  #popupHelp h2, #popupHelp h3,  #popupHelp h4,  #popupHelp h5,  #popupHelp h6, #legendHelp h1 ,  #legendHelp h2, #legendHelp h3,  #legendHelp h4,  #legendHelp h5,  #legendHelp h6{
  white-space: nowrap;
  font-family: courier;
}
#popupHelp nadpis:after, #legendHelp  nadpis:after,  #popupInfo nadpis:after
{
  content:' ';
  display:block;
  border: 0.5px solid gainsboro
}
#popupHelp nadpis, #legendHelp nadpis, #popupInfo nadpis
{
  white-space: nowrap;
  font-family: courier;
  font-size: 140%;
  font-weight: normal;
}
#popupHelp podpis:before, #legendHelp  podpis:before, #popupInfo podpis:before
{
  content:' ';
  display:block;
  border: 0.5px solid gainsboro
}
#popupHelp podpis, #legendHelp podpis #popupInfo podpis
{
  white-space: nowrap;
  font-family: courier;
  font-size: 0.8em;
  font-weight: normal;
}
/*infotable*/
#popupInfo .masterTable{
    border-collapse: collapse;
}
#popupInfo th{
    font: 12px/10px Tahoma, Verdana, sans-serif;
/*    font-weight: bold; */
    text-align: center;
}
#popupInfo td{
    text-align: center;
}
#popupInfo .masterTD{
    text-align: center;
    border: solid;
    border-width: 0 1px 0 1px;
    border-color: #ececec;
}
#popupInfo .topTH{
    text-align: center;
    border: solid;
    border-width: 0 1px 0 1px;
    border-color: #ececec;
}
#popupInfo th{
    min-width: 35px;
    padding: 5px;
}
#popupInfo tr{
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #ececec;    
}
#popupInfo .w-true{
    background-color: darkorange;
    min-width: 30px;
    height: 10px;
}
#popupInfo .w-false{
    background-color: inherit;
    min-width: 30px;
    height: 10px;
}
#popupInfo .wp-true{
    background-color: greenyellow;
    min-width: 35px;
    min-height: 25px;
}
#popupInfo .wp-false{
    background-color: inherit;
    min-width: 35px;
    min-height: 25px;
}
/*Graph*/
#popupContentGraph{
  margin-left: 10px;
}
.legend .popup-help-button:hover{
  color: #a80000;
}
#legendHelp{
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  padding: 16px;
  min-width: 250px;
  z-index: -1;
  text-align: left;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  box-shadow: 0 3px 14px rgba(0,0,0,0.1);
}
#legendHelp.visibleB{
  display: block;
  animation: helpB 1s;
  animation-fill-mode: both;
}
#legendHelp span{
  display: block;
  width: auto;
  height: 18px;
  float: none;
  opacity: 1;
  text-align: left;
  font-size: inherit;
  height: auto;
}

.legend .popup-help-button{
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin: 5px 25px 0 0;
  border: none;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 14px/12px Tahoma, Verdana, sans-serif;
  color: #0078a8;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}
#legendHelp.visibleB{
  display: block;
  animation: helpB 1s;
  animation-fill-mode: both;
}
.chart{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 1px;
  padding-left: 1px;
  padding-right: 1px;
  /*flex-flow: wrap-reverse;*/
  height: 100px;
  margin-top: 0px;
  margin-bottom: 15px;
  border-color: #ececec;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  align-items: flex-end;
}
.chart .bar{
  flex-direction: column;
  background-color: #00bbff;
  border-bottom-color: #00bbff;
  background-color: var(--bar-default);
  border-bottom-color: var(--bar-default);
  border-bottom-style: solid;
  border-bottom-width: 1px;   
  flex: auto;
  z-index: 1;
}
.chart-legend{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-flow: wrap-reverse;
    margin-top: -12px;
}
.chart-legend .bar-legend{
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    text-align: center;
}
.chart .div-hr{
  position: absolute;
  width: 102%;
  border-bottom: 1px solid #ececec;
  right: 0px; 
  height: 0;
}
.chart .div-hr-0{
  top: 100%; 
}
.chart .div-title{
  border: none;
  /*right: 13px;*/
  font-size: 0.8em;   
}
.chart .div-title-0{
  top: 93%;
  right: 8px;
}

#porovnani td {
  padding : 0.25rem; 
}

#porovnani th {
  padding : 0.25rem; 
}

#porovnani table {
  margin-bottom : 0.25rem; 
  margin-top : 0.25rem; 
}

.info_title {
  margin-bottom : 0.25rem; 
  margin-top : 0.25rem;   
}

.hidden{
    display: none;
}

img.control {
    padding-top: 7px;
}

.leaflet-control-geocoder-icon {
    background-image: url(/img/geosearch16.png);
}

/*map object custom styles properties*/
:root{
  --color-highlight:blue;
  --color-highlight-features:orange;
  --weight-highlight:4;
  --fillOpacity-highlight:0.25;
  --fillOpacity-default:0.5;
  --color-default:red;
  --color-default-features:#3388ff;
  --weight-default:2;
  --color-edit:darkred;
  --color-edit-features:darkgreen;
  --warning:#ff8000;
  --error:#d90000;
  --default:#aaaaaa;
  --notice:#ffc926;
  --information:#a3d900;
  --question:#3388ff;  
  --bar-default:#00bbff;
  --bar-1:#00bbff;
  --bar-2:#feff00;
  --bar-3:#ff7500;
  --bar-4:#000bff;
  --bar-5:#d500ff;
  --bar-6:#ff000f;
  --bar-7:#a0ff00;
  --bar-8:#00ff40;
  --bar-9:#d5aaff;
  --bar-10:#ffdaff;
  --bar-11:#ffdada;
  --bar-12:#a8a944;  
  --bar-2-1:#8e00ff;
  --bar-2-2:#4273b7;
  --bar-2-3:#884915;
  --bar-2-4:#02076f;
  --bar-2-5:#935b9e;
  --bar-2-6:#ababab;
  --bar-2-7:#92ce2d;
  --bar-2-8:#687b40;
  --bar-2-9:#d5aaff;
  --bar-2-10:#ffdaff;
  --bar-2-11:#ffaaaf;
  --bar-2-12:#f9e551;  
}
