<div class="c-welcome-header">
  <div class="row">
    <div class="medium-6 columns">
      <img src="{{'/assets/img/header/sestka.svg' | prepend: site.baseurl }}" class="c-welcome-header__img" alt="Česká pirátská strana">
    </div>
    <div class="medium-6 columns">
      <div class="c-welcome-header-wrapper c-welcome-header-wrapper--wbg">
        <div class="c-welcome-header-content">
          <img src="{{'/assets/img/brand/logo.svg' | prepend: site.baseurl }}" alt="Česká pirátská strana" class="c-welcome-header__brand">
	      <blockquote class="c-welcome-header__quote">
            Šestku vlevo nahoře
            <br> <b>zubař nespraví</b>.
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <br/><h1>Náš závazek:</h1><br/>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <h2>Radnice otevřená lidem</h2>
    <ul>
      <li>
        Rozhodují občané, nikoliv úředníci
      </li>
      <li>
        Zveřejňování daleko nad rámec zákona
      </li>
      <li>
        Místní referenda o důležitých věcech
      </li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h2>Pirátské hospodaření je poctivé</h2>
    <ul>
      <li>
        Důsledná kontrola veřejných výdajů, SNEO ...
      </li>
      <li>
        Konec prodejů pozemků hluboko pod cenou
      </li>
      <li>
        Otevřené technologie, chytrá řešení, bez laviček
      </li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h2>Konkrétní činy pro konkrétní lidi</h2>
    <ul>
      <li>
        Dostupné byty bez developerů
      </li>
      <li>
        Seniorské domy nebudeme privatizovat
      </li>
      <li>
        Městský majetek využijeme pro občany
      </li>
    </ul>
  </div>
</div>
<br/>
<hr/>
<br/>

