.l-program{
  &__item{
    &-name{
      text-align: center;
      padding: 2rem 0;
      //font-size: 2em;
      & > p{
        //text-align: justify;
        font-style: italic;
      }
      i{
        font-size: 6rem;
        margin-bottom: 2rem;
      }
    }
    &-garant{
      font-size: .85em;
      h2{
        text-align: left;
        margin: 0;
        font-size: 1rem;
      }
      br{
        display: none;
      }
      p{
        text-align: left;
      }
      .columns{
        width: 100%;
      }
      .o-media__image{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        display: inline-block;
        padding: 0;
        margin-right: 2rem;
        img{
          width: 100%;
          position: relative;
          top: -1rem;
        }
      }
    }
    &-accordion{
      .accordion{
        &-title{
          color: $body-font-color;
          font-size: 1.3rem;
        }
        &-content{
          li{
            margin-bottom: .5rem;
          }
        }
      }

    }
  }
}