---
layout: page
img: miscellaneous/volebni-rozcestnik.png
rbar: ""
---



<section class="o-section o-section--spaceBot">
  <div class="o-section-inner">
    <div class="o-section-block">
      <div class="c-BasicPage">
        <div class="c-BasicPage-content">

	{% assign program = site.program | where: "campaignCategoryUid","priority4" %}
		<div class="row small-up-2 medium-up-2 large-up-2 ">
		{% for item in program %}
		<div class="column column-block">
		  <a href="{{item.url | relative_url }}">
		  <center>
		  <img class="program-icon" src="{{ item.img | prepend: '/assets/img/' | relative_url}}" alt="{{item.title}}" />
	    	  <h2>{{item.title}}</h2>
	    	  </center>
	  	 </a>
		</div>
		{% endfor %}

		<div class="column column-block">
		  <a href="{{'/program/magistrat'  | relative_url }}">
		  <center>
		  <img class="program-icon" src="{{ '/assets/img/program/garanti/zdenek-hrib.jpg' | relative_url}}" alt="{{item.title}}" />
	    	  <h2>Program pro magistrát</h2>
	    	  </center>
	  	 </a>
		</div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="o-section o-section--spaceBot">
  <div class="o-section-inner">
    <div class="o-section-block">
      <div class="c-BasicPage">
        <div class="c-BasicPage-content">
	 <center>	
          <h1>Podrobný program pro Prahu 4:</h1>
	    	  </center>
{% assign program = site.program | where: "campaignCategoryUid","praha4" | sort:"ordprog" %}
<div class="row small-up-2 medium-up-3 large-up-4 ">
{% for item in program %}
<div class="column column-block">
  <a href="{{item.url | relative_url }}">
    <img class="program-icon" src="{{ item.icon | prepend: '/assets/img/' | relative_url}}" alt="{{item.title}}" />
    <center>
    <h2>{{item.title}}</h2>
    </center>
  </a>
</div>
{% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>


<section class="o-section o-section--spaceBot">
  <div class="o-section-inner">
    <div class="o-section-block">
      <div class="c-BasicPage">
        <div class="c-BasicPage-content">
          <h2>Prosazujeme:</h2>
<table> 
<tr>         
<td><img src="{{'/assets/img/program/icons/radnice-01.svg' | relative_url }}" alt="ikona" height="168" width="168"><td><strong>Transparentní a profesionální radnice</strong>
Jedině veřejná kontrola zajistí, že si kmotři nerozdělí Prahu. To prosazujeme už čtyři roky. Město nebude informace tajit, ale zveřejňovat. Zavedeme transparentní účty města. Prosadíme otevřená výběrová řízení, aby městské firmy řídili odborníci, ne političtí trafikanti.
</tr>
<tr>
<td><img src="{{'/assets/img/program/icons/metropole-01.svg' | relative_url }}" alt="ikona" height="168" width="168"><td><strong>Digitální metropole</strong>
Zavedeme uživatelsky přívětivý úřad. Z jedné internetové stránky půjde vše vyřídit nebo se objednat na kamenný úřad bez front. Co úředník potřebuje, to si sám zjistí. Pomocí internetu umožníme občanům hodnotit služby a dávat podněty úředníkům a politikům.
</tr>
<tr>
<td><img src="{{'/assets/img/program/icons/zivotni-prostredi.svg' | relative_url }}" alt="ikona" height="168" width="168"><td><strong>Čisté a zdravé město</strong>
Proti vedrům pomohou stromy a voda. Zeleň místo betonu vyčistí vzduch. Vysadíme více stromů v ulicích. Podpoříme zelené střechy a další opatření proti betonové džungli. Pítka a kašny osvěží Prahu. Třídění odpadu musí být pohodlné a musí se vyplatit.
</tr>
<tr>
<td><img src="{{'/assets/img/program/icons/moderni%20rodina-1.svg' | relative_url }}" alt="ikona" height="168" width="168"><td><strong>Služby pro moderní rodinu</strong>
Prosadíme, aby se stavělo více bytů a méně kanceláří. Městské byty nebudou pro prominenty, ale pro ty, kdo je skutečně potřebují. Developeři se budou podílet na nákladech na občanskou vybavenost spolu s městem. Podpoříme moderní a dostupné vzdělávání.
</tr>
</table>

        </div>
      </div>
    </div>
  </div>
</section>





